name: Releaser

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  npm:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: '24.13.0'
          registry-url: 'https://registry.npmjs.org'

      - name: Setup Pantry
        uses: home-lang/pantry-setup@v1

      - name: Create GitHub Release
        uses: stacksjs/action-releaser@v1.2.7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish
        run: pantry npm:publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
